<h1>Welcome to Hobo Nickel Coins</h1>
<h2>Your source for premium rare coins</h2>
<p style="text-align: center;">Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("maincoin.jpg", class: "img-responsive coin-image") %>
