
<h2>Hobo Nickle Coins</h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    <% @products.each_with_index do |product, index| %>
      <li class= "<%= " active" if product == @products.first %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <!-- Wrapper for slides -->

    <div class="carousel-inner" role="listbox">
      <% @products.each do |product| %>
      <div class="item<%= " active" if product == @products.first %>">
        <% if product.image_url %>
          <%= image_tag(product.image_url, class: "img-responsive coin-image") %>
        <% end %>
      <div class="carousel-caption">
        <%= product.name %>
      </div>
      </div>
      <% end %>
  </div>



</div>
