<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
<button type="button" class="btn btn-primary"><%= link_to 'Back', products_path %></button>
