/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #FFFFFF;
 }
 #q {
    color: black;
    border-radius: 1rem;
    font-family: 'Fira Sans', sans-serif;
 }

 .hobo-size {
   height: 61px;
 }
 nav a:visited {
    color:none;
 }
 .navbar {
   background-color: #6f2d2e;
   padding: 0px;
 }
 li .btn-login {
   background-color: #75DBCD;
   color: black;
   font-family: 'Shadows Into Light Two'
   font-weight: bold;

 }
 li .btn-search {
   background-color: #85CB33;
   color: black;
   font-family: 'Shadows Into Light Two'
   font-weight: 300;
 }
 li .btn-search:hover {
   color: whitesmoke;
   font-family: 'Shadows Into Light Two'

 }
 li .btn-login:hover {
   color: whitesmoke;
   background-color: #75DBCD;
   font-family: 'Shadows Into Light Two'

 }
 li {
     font-family: 'Shadows Into Light', cursive;
     font-size: 1.8em;
     color: whitesmoke;
        padding: 14px 0px;
 }
 a.link-to-text-color {
     color: whitesmoke;

 }
 li a:hover {
     color: #EEA838;
 }
 .hobo {
   display: inline-block;
   font-family: 'Shadows Into Light', cursive;
   text-align: left;
   text-decoration: none;
   font-size: 240%;
 }
 .nav-display {
   display:inline;
 }
.span-blue {
   color: #75DBCD;
}
.span-green {
   color: #85CB33;
}

.form-group {
   margin-bottom: 0px;
}
