
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty
 */
 h1 {
   margin-top: 4%;
 }

 h4 {
   font-size: 22px;
   font-family: "Fira Sans";
 }

 nav ul li {
     display: inline-block;
     vertical-align: middle;
 }

nav .navbarCollapse ul li a {
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
  color: whitesmoke;
}

nav .navbarCollapse ul li a:hover {
  background-color: inherit;
  color: #eea838;
  font-size: 24px;
}
nav .navbarCollapse ul li.sidebar {
  font-size: 14px;
  font-family: 'Copse', serif;
  color: black;
    width: auto !important;
}
nav .navbarCollapse ul li.sidebar a {
  font-size: 14px;
  font-family: 'Copse', serif;
  color: black;
  width: 64px !important;
}


nav .navbarCollapse ul li.sidebar a:hover {
  font-family: 'Copse', serif;
  font-size: 14px;
  color: whitesmoke;
  height: 34px;
}

body {
  background-color: #fff;
  margin: 33px;
  font-size: 16px;
  line-height: 18px;
}

.navbar {
  background-color: #6f2d2e;
}

.nav-space {
  margin-left: 12%;
}

.header-margin {
  margin: 0, 50px;
}

#q {
   color: black;
   border-radius: 1rem;
   font-family: 'Fira Sans', sans-serif;
}

.navbar-text {
  font-family: 'Shadows Into Light', cursive;
  text-align: left;
  text-decoration: none;
  font-size: 240%;
}

.btn-search {
  background-color: #85CB33;
}
li.sidebar.btn.btn-search {
  height: 34px !important;
  width: 64px !important
  font-family: 'Copse', serif;
}

li.sidebar.btn.btn-search a {
  height: 34px !important;
  width: 64px !important
  vertical-align: middle;
  font-family: 'Copse', serif;
}
/*a {
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 14px;
    height: 34px !important;
    display: center;
}*/


.navblock-margin {
margin-right: 2%;
}

/* .btn-login {
   background-color: #75DBCD;
   color: black;
   font-family: 'Copse', serif;
 }
.btn-login:hover {
   background-color: #75DBCD;
   color: whitesmoke;
   font-family: 'Copse', serif;
 }
 .btn-account {
    background-color: #75DBCD;
    color: black;
    font-family: 'Copse', serif;
  }
 .btn-account:hover {
    background-color: #75DBCD;
    color: whitesmoke;
    font-family: 'Copse', serif;
  }*/

.span-blue {
   color: #75DBCD;
}

.span-orange {
   color: #eea838;
}

.span-nickel {
  color: whitesmoke;
}

a:hover {
  color: #75DBCD;
}
.icon-bar {
  background-color: whitesmoke;
}

input {
border-color:#ccc;
border-width: 1px;
}
a:visited {
  color: black;
}
#notice {
  color: green;
}
.flashtags {
  margin-top: 5%
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }
}
/* Login form */



.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}
.product-edit {
  width: 526px;
  margin: 18px auto;
  font-size: 14px;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ced4ee;
  padding: 12px;
}

.login .field {
  padding: 8px;
}

.field-name {
  margin: 0px !important;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.remember{
  font-size: 12px;
}
.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}
.input-group {
  margin: 10px;
}
.actions {
  margin: 10px;
}
/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

.login .forgot {
  text-color: #fff;
}
