
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty
 */
 h1 {
   margin-top: 4%;
 }
 nav ul li {
     display: inline-block;
     vertical-align: middle;
 }

a {
  color:white;
}
nav .navbarCollapse ul li a {
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
  color: whitesmoke;
}

nav .navbarCollapse ul li.sidebar a {
  font-size: 16px;
  font-family: 'Copse', serif;
  color: #eea838;
}

nav .navbarCollapse ul li a:hover {
  background-color: #6f2d2e;
  color: #eea838;
  font-size: 26px;
}

nav .navbarCollapse ul li.sidebar a:hover {
  background-color: #6f2d2e;
    font-family: 'Copse', serif;
  font-size: 16px;
  color: whitesmoke;
}

body {
  background-color: #fff;
  margin: 33px;
  font-size: 16px;
  line-height: 18px;
}

.navbar {
  background-color: #6f2d2e;
  font-family: 'Shadows Into Light', cursive;
}

.nav-space {
  margin-left: 12%;
}

.header-margin {
  margin: 0, 50px;
}

#q {
   color: black;
   border-radius: 1rem;
   font-family: 'Fira Sans', sans-serif;
}

.hobo-image {
 height: 78px;
}

.navbar-text {
  font-family: 'Shadows Into Light', cursive;
  text-align: left;
  text-decoration: none;
  font-size: 240%;
}

.btn-search {
  background-color: #85CB33;
  color: black;
  font-family: 'Copse', serif;
}
.navblock-margin {
margin-right: 2%;
}
.btn-search:hover {
  background-color: #85CB33;
  color: whitesmoke;
  font-family: 'Copse', serif;
}
/* .btn-login {
   background-color: #75DBCD;
   color: black;
   font-family: 'Copse', serif;
 }
.btn-login:hover {
   background-color: #75DBCD;
   color: whitesmoke;
   font-family: 'Copse', serif;
 }
 .btn-account {
    background-color: #75DBCD;
    color: black;
    font-family: 'Copse', serif;
  }
 .btn-account:hover {
    background-color: #75DBCD;
    color: whitesmoke;
    font-family: 'Copse', serif;
  }
  .btn-login {
     background-color: #75DBCD;
     color: black;
     font-family: 'Copse', serif;
   }
  .btn-login:hover {
     background-color: #75DBCD;
     color: whitesmoke;
     font-family: 'Copse', serif;
   }*/
.span-blue {
   color: #75DBCD;
}

.span-orange {
   color: #eea838;
}

.span-nickel {
  color: whitesmoke;
}


a:hover {
  color: #75DBCD;
}
a:visited {
  color: black;
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }
}
