// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coin-padding {
  padding: 3%;
}
.productWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
h4 {
  color: #6f2d2e;
}
h5 {
  color: red;
}
.img-constrain {
  max-width: 200px;
}

li .btn-search {
  background-color: #85CB33;
  color: black;
  font-family: 'Copse', serif;

}
li .btn-search:hover {
     background-color: #85CB33;
  color: whitesmoke;
  font-family: 'Copse', serif;
}
li .btn-login {
  background-color: #75DBCD;
  color: black;
  font-family: 'Copse', serif;
}
li .btn-login:hover {
     background-color: #75DBCD;
  color: whitesmoke;
  font-family: 'Copse', serif;
}
