<h4 style="text-align: center;"> Edit Product </h4>

<%= render 'form', product: @product %>

<li><%= link_to 'Show', @product, class: 'btn btn-search' %></li> |
<li><%= link_to 'Back', products_path, class: 'btn btn-login' %></li>
