<p id="notice"><%= notice %></p>

<br>

<div class="container">
  <div class="row">
    <%= render @products %>
  </div><!--end row-->
</div><!--end container-->
  <%= will_paginate @products %>
<br>
<button type="button" class="btn btn-primary"><%= link_to 'New Product', new_product_path %></button>
